{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="multicol">
    <h2>
        What this?
    </h2>
    <p>
        Whispering Cameraphone is named after <a href="https://www.brokenpicturephone.com">broken picturephone</a>, a game where <em>"you and your friends create books of drawings and phrases, one page at a time, only being able to see one previous page"</em>.
    </p>
    <p>
        The difference is that Whispering Cameraphone has <b>no time limit</b>, and instead of drawings, we submit <b>photos</b>! Each turn can take anywhere from 5 minutes to a few days, to even weeks.
    </p>
    <h2>The Gameplay</h2>
    <p>
        To start with, each person <b>submits an initial prompt</b>. This could be anything; for example, <em>"A great place for a boss fight"</em>, <em>"A photo taken from the top of a tree"</em>, <em>"Do something illegal and take a selfie whilst doing it"</em>, or <em>"A selfie with a stranger"</em>.
    </p>
    <p>
        Another player receives this prompt and has to <b>venture out into the wide world</b> to take a photo.
    </p>
    <p>
        Their photo is sent to another player, who then has to <b>write a prompt based on the photo</b> (either what they <em>think</em> the prompt may have been, or something which it reminds them of).
    </p>
    <p>
        This process repeats for some number of rounds, and then all the players gather together (either in person or in some voice-call) and go through the gallery they've created together!
    </p>
    <h2>How to Play</h2>
    <p>
        If you don't have one already, you'll need to make <a href="/login">an account</a>. Then, you can make a new lobby from the <a href="/">homepage</a>.
    </p>
    <p>
        You'll get a unique join-code, which you can send to your friends. Set up the number of rounds, and then start the game once everyone who wants to play has joined the lobby.
    </p>
    <h2>Downloading Galleries</h2>
    <p>
        You can right-click on the image and click download to download an individual one, or, once the game has finished, there will be an option to download the whole gallery as a .zip.
    </p>
    <h2>Contact Me</h2>
    <p>
        Presumably, if you're playing this game, you already know me. But if by some miracle you've come across this website and want to ask me a question about it (or if you've come across a bug, or if you forgot your password and need it changed, or...), feel free to contact me (Zac) via the details on <a href="https://zacgarby.co.uk">my website</a>!
    </p>
</div>
{% endblock %}
