<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/mobile.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %} - Broken Cameraphone</title>
    {% block head %}{% endblock %}
</head>
<body onload="if (window['onLoad']) onLoad()">
    <div class="wrapper">
        <header>
            <h1 class="logo">
                <a href="/">
                    <img class="logo" src="/static/logo.png" alt="Broken Cameraphone">
                </a>
            </h1>
        </header>
        {% if user_id %}
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    {% if game %}
                        <li class="code">{{ game["join_code"] }}</li>
                        {% if game['current_round'] // 2 < game['max_rounds'] %}
                        <li class="round">Round {{ 1 + game['current_round'] // 2 }}/{{ game['max_rounds'] }}</li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% if error %}<div id="error">
            {{ error }}
        </div>{% endif %}
        <article>
            {% block content %}{% endblock %}
        </article>
    </div>
</body>
</html>
