<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/mobile.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#cd2c27">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#cd2c27">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#cd2c27">

    <title>{% block title %}{% endblock %} - Whispering Cameraphone</title>
    {% block head %}{% endblock %}
</head>
<body onload="if (window['onLoad']) onLoad()">
    <div class="wrapper">
        <header>
            <h1 class="logo">
                <img class="logo" src="/static/logo.svg" alt="Whispering Cameraphone">
            </h1>
        </header>
        {% if user_id %}
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/profile">Profile</a></li>
                    {% if game %}
                        <li class="code">{{ game["join_code"] }}</li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <nav>
                <ul>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% if error %}<div id="error">
            {{ error }}
        </div>{% endif %}
        <article>
            {% block content %}{% endblock %}
        </article>
        <footer>
            <p>
                Copyright 2024, by <a href="https://zacgarby.co.uk">Zac Garby</a>.
            </p>
            <p>
                All open source, hosted on <a href="https://github.com/zac-garby/brokencameraphone">GitHub</a>. Made using Python, sqlite3, and some horrible JavaScript.
            </p>
            <p>
                Thank you to <a href="https://github.com/zac-garby/brokencameraphone/graphs/contributors">the Contributors</a>!
            </p>
        </footer>
    </div>
</body>
</html>
