{% extends "lobby-base.html" %}

{% block head %}
<script>
    var isGameOwner = "{{ is_owner }}" == "True"
</script>
<script src="/static/gallery.js"></script>
{% endblock %}

{% block content %}
<h2>Game Over</h2>
{% if is_owner %}
    <p>
        And that's it! Let's have a look at what you came up with.
    </p>
    <button id="advance" onclick="advance()">Show next...</button>
{% else %}
    <p>
        And that's it! Let's have a look at what you came up with. Sit back and let the lobby's owner work the controls.
    </p>
{% endif %}
<ul id="submissions"></ul>

{% if is_owner %}
<p>
    As the game master, you're going to be in charge of the gallery controls.
</p>
<p>
    Click the names above to cycle between prompts, and press "Show next..." to advance to the next submission.
</p>
{% endif %}
{% endblock %}