{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="split">
    <div>
        <p>
            Welcome to <strong>Broken Cameraphone</strong>! The game which is totally not a copy of <a href="https://www.brokenpicturephone.com">broken picturephone</a>.
        </p>
        {% if games %}
        <h3>Current games:</h3>
        <ul class="game-list">
        {% for game in games %}
            {% if game.is_archived == 0 %}
            <li>
                <a href="/game/{{ game.join_code }}"><span class="code">{{ game.join_code }}</span></a>
                {% if game.has_submitted or game.state in [0, 4] %}
                    {% if game.state == 0 %}
                        <span class="status">Waiting for players...</span>
                    {% elif game.state == 1 %}
                        <span class="status">Waiting for prompts</span>
                    {% elif game.state == 2 %}
                        <span class="status">Taking photos!</span>
                    {% elif game.state == 3 %}
                        <span class="status">Waiting for prompts</span>
                    {% elif game.state == 4 %}
                        <span class="status">Finished</span>
                    {% endif %}
                {% else %}
                    <span class="status">Waiting for you!</span>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        <li>
            <a href="/archive">View archived games</a>
        </li>
        </ul>
        {% endif %}
    </div>
    <div>
        <form action="/new-game" method="get">
            <h2>New Game</h2>
            <p>
                Make a new game to play with your friends.
            </p>
            <input type="submit" value="Create Lobby">
        </form>
        <form action="/game" method="post">
            <h2>Join Game</h2>
            <p>
                Join an existing game using a friend's join code.
            </p>
            <input type="text" name="join-code" id="join-code" placeholder="Join Code">
            <input type="submit" value="Join Game">
        </form>
    </div>
</div>
{% endblock %}