{% extends "lobby-base.html" %}

{% block head %}
<script src="/static/initial-prompts.js"></script>
<script src="/static/lobby.js"></script>
{% endblock %}

{% block lobby_content %}
{% if participant.has_submitted == 1 %}
<p>
    Thanks for the prompt! Now just to wait for the others.
</p>
<p>
    If you're in a voice chat, make annoying noises at them to speed them up.
</p>
{% else %}
<p>
    Enter an initial prompt to give to somebody else below. This can be absolutely anything!
</p>
<p>
    Try to keep it open-ended, if possible. Let people be creative!
</p>
<form action="/submit-prompt/{{ game['join_code'] }}" method="post">
    <textarea name="prompt" id="prompt" rows="3"></textarea>
    <input type="submit" value="Send prompt">
</form>
{% endif %}
{% endblock %}