{% extends "lobby-base.html" %}

{% block lobby_content %}
{% if participant.has_submitted == 1 %}
<p>
    Thanks for the photo! Now just to wait for the others. You submitted:
</p>
<a href="/photo/{{ recent_submission['photo_path'] }}">
    <img class="recent" src="/photo/{{ recent_submission['photo_path'] }}" alt="Your just-uploaded photo.">
</a>
<p>
    This may take a while. Remember - some people are lazy.
</p>
{% else %}
<p>
    Your prompt is:
</p>
<p id="prompt">
    "{{ previous_submission["prompt"] }}"
</p>
<p>Go out into the wide world and take a photo of something which this reminds you of!</p>
<form action="/submit-photo/{{ game['join_code'] }}" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" id="photo" accept="image/*">
    <input type="submit" value="Send photo">
</form>
{% endif %}
{% endblock %}

{% block lobby_controls %}
{% if participant.has_submitted == 1 %}
<li class="form">
    <a href="/unsubmit/{{ game['join_code'] }}">Unsubmit</a>
</li>
{% endif %}
{% endblock %}