{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
<div class="split equal">
    <div>
        <p>
            Hey, {{ user["display_name"] }}. It looks like like you want to change your password.
        </p>
        <p>
            What do you want to change it to? Remember, it needs to be at least five
            characters, but there are no other requirements. Don't make it too easy to
            guess though!
        </p>
    </div>
    <div>
        <form action="/reset-password/{{ code }}" method="post">
            <h2>Your new password</h2>
            <p>
                Enter a new password to be used for the user
                {{ user["email"] }}. Note, your old password will no
                longer be valid after changing it.
            </p>
            <input type="password" name="password" id="password" placeholder="Your new password">
            <input type="submit" value="Reset password">
        </form>
    </div>
</div>

{% endblock %}