{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block head %}
<script src="/static/lobby.js"></script>
{% endblock %}

{% block content %}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li class="code">{{ game["join_code"] }}</li>
    </ul>
</nav>
<div class="split">
    <div>
        <h2>Initial Prompts</h2>
        <p>
            Enter an initial prompt to give to somebody else below. This can be absolutely anything!
        </p>
        <form action="#">
            <input type="text" placeholder="An example prompt here">
            <input type="submit" value="Send prompt">
        </form>
        <ul class="lobby-controls">
            <li>
                <a href="/leave-game/{{ game['join_code'] }}">Leave Lobby</a>
            </li>
        </ul>
    </div>
    <div>
        <h2>Players</h2>
        <ul id="players"></ul>
    </div>
</div>
{% endblock %}