<p>
    Hi {{ name }}. You have requested that your password for
    <a href='https://whisperingcameraphone.com'>Whispering Cameraphone</a>
    be reset.
</p>

<ul>
    <li>
        <p>
            If this was you, and you would indeed like to reset it, click
            the link below or copy it into your browser's address bar:
        </p>
        <p><a href="{{ url }}">{{ url }}</a></p>
    </li>
    <li>
        <p>
            If you haven't requested a password reset, don't worry! Somebody
            may be trying to get into your account, but as long as they don't
            have access to this email's inbox, they won't be able to.
        </p>
    </li>
</ul>

<p>
    If you have any concerns or issues resetting your password or
    are worried that somebody may have access to your account, please
    get in touch.
</p>

<p>Best,</p>

<p>
    Zac
    (<a href="https://zacgarby.co.uk">https://zacgarby.co.uk</a>)
</p>