@media screen and (max-width: 750px) {
    body {
        margin: 20px;
    }

    div.wrapper {
        width: 100%;
        margin-top: 50px;
    }

    nav ul {
        justify-content: center;
        background-image: url("/static/shadow.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 15px 0;
        min-height: 60px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav {
        margin-top: 20px;
        padding-left: 0;
        margin-inline: -20px;
        width: calc(100% + 40px);
        background: none;
    }

    h1.logo {
        margin-bottom: calc(2vw - 50px);
        padding: 8px;
    }

    div.split {
        gap: 20px;
    }
}

@media screen and (max-width: 450px) {
    nav ul {
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
        height: auto;
        min-height: auto;
        padding: 8px 16px;
    }

    nav {
        height: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    nav ul {
        background: none;
        background-color: rgb(246,232,232);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h1.logo {
        padding: 0;
        margin-bottom: -20px;
    }

    div.split {
        display: flex;
        flex-direction: column;
    }

    div.split.mobile-reverse {
        flex-direction: column-reverse;
    }

    ul.flashes {
        margin-top: 0;
    }
}