@media screen and (max-width: 850px) {
    div.wrapper {
        width: 100%;
        padding: 20px;
    }

    img.logo {
        width: 100%;
        max-width: 275px;
    }

    div.split {
        display: flex;
        flex-direction: column-reverse;
    }    
}