* {
    box-sizing: border-box;
    color: rgb(119, 0, 34);
}

html, body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2rem;
}

h1.logo {
    text-align: center;
}

img.logo {
    width: 275px;
}

img.logo:hover {
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

div.wrapper {
    width: 850px;
    margin: auto;
    margin-top: 60px;
    left: 0;
    right: 0;
}

.center {
    text-align: center;
}

h1, h2, h3 {
    color: rgb(200, 0, 57);
    margin-top: 0;
    margin-bottom: 12px;
}

form {
    background-color: rgb(200, 0, 57, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

form input {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

form input[type=text], form input[type=password], form textarea, form input[type=number], button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid rgb(217, 163, 178);
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form input[type=number] {
    width: 60px;
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
}

form input[type=submit], button {
    display: block;
    width: 100%;
    padding: 8px 32px;
    margin: 0;
    background-color: rgb(200, 0, 57);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

form p {
    font-weight: normal;
    font-size: 0.8rem;
}

form div.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

form div.row input {
    display: inline;
    margin: 0;
}

div#error {
    background-color: rgba(200, 0, 57, 0.1);
    padding: 10px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 10px;
}

ul.flashes {
    list-style: none;
    padding-left: 0;
    padding: 0 10px;
}

ul.flashes li {
    background-color: rgba(141, 172, 240, 0.1);
    border-radius: 10px;
    color: rgb(22, 37, 71);
    padding: 10px;
    margin-bottom: 15px;
}

ul.flashes li:first-child {
    margin-bottom: 0;
}

div.split {
    display: grid;
    grid-template-columns: 60% auto;
}

div.split > div {
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 10px;
    font-weight: bold;
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul * {
    color: rgb(45, 45, 45);
    text-decoration: none;
}

nav ul li {
    display: inline;
    padding-right: 15px;
}

p {
    margin-top: 0;
}

p#prompt, p.prompt {
    text-align: center;
    font-weight: bold;
}

img#prompt {
    width: 100%;
    margin: 10px 0;
}

p.code {
    text-align: center;
    background-color: rgba(141, 172, 240, 0.1);
    color:rgb(22, 37, 71);
    font-weight: bold;
    font-size: 2rem;
    padding: 15px;
    margin-bottom: 0;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 8px;
    border-radius: 10px;
}

li.code, span.code {
    font-weight: normal;
    background-color: rgba(141, 172, 240, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 4px;
}

li.round {
    font-weight: normal;
    padding: 5px 10px;
}

ul#players {
    list-style: none;
    padding-left: 0;
}

ul#players li {
    background-color: rgba(141, 172, 240, 0.1);
    color: rgb(22, 37, 71);
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul#players li.submitted {
    color: rgb(22, 37, 71, 0.5);
}

ul#players li.viewing {
    color: rgb(20, 66, 145);
}

ul.lobby-controls {
    list-style: none;
    font-weight: bold;
    padding: 0px;
}

ul.lobby-controls li.form {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin: 0;
    background-color: rgb(200, 0, 57);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

ul.lobby-controls a {
    display: block;
    text-decoration: none;
    color: white;
}

ul.game-list {
    padding-left: 0;
    list-style: none;
}

ul.game-list li {
    margin-bottom: 20px;
}

span.status {
    font-style: italic;
    font-size: 0.9rem;
}

ul.gallery-playerlist li {
    cursor: pointer;
}

ul.gallery-playerlist li:hover {
    background-color: rgba(87, 121, 193, 0.209) !important;
}

ul#submissions {
    padding-left: 0;
    list-style: none;
}

ul#submissions li {
    background-color: rgba(141, 172, 240, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

ul#submissions li h3.username {
    color: rgb(22, 37, 71);
    font-size: 1rem;
    margin-top: 0;
    font-style: italic;
}

ul#submissions li p.prompt {
    margin-bottom: 0;
    font-size: 1.5rem;
}

ul#submissions li img.photo {
    width: 100%;
}
