* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    color: #5B0000;
}

html {
    font-size: 1.2rem;
}

div.wrapper {
    width: 700px;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 100px;
}

nav {
    width: 100%;
    height: 75px;
    background-image: url("/static/shadow.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 160px;
    font-size: 1.1rem;
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav ul li {
    display: inline-block;
}

p {
    font-size: 1rem;
    margin-top: 0;
}

a {
    font-weight: bold;
    color: #5B0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a {
    text-decoration: none;
}

h1.logo {
    margin-bottom: -70px;
    padding-inline: 40px;
}

div.split {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 40px;
}

div.split.equal {
    gap: 20px;
    grid-template-columns: calc(50% - 10px) auto;
}

div.split > * {
    overflow-x: hidden;
}

ul.game-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

ul.game-list li {
    background-color: #F6E8E8;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul.game-list span.status {
    font-style: italic;
}

ul.game-list span.code {
    font-size: 1.2rem;
}

span.code, li.code {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

div.forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form.button {
    background-color: #CA5B66;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

input {
    font-size: 1rem;
}

form.button input {
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 1.2rem;
}

form.button input[type=submit] {
    color: white;
    font-weight: bold;
}

form.button input[type=text] {
    background-color: #F6E8E8;
    text-align: center;
    font-weight: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    width: 80px;
    border-radius: 5px;
}

form.button input[type=text]::placeholder {
    color: #CCAFAF;
}

form {
    background-color: #F6E8E8;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > * {
    margin: 0;
}

form p.inset {
    font-size: 0.7rem;
}

form div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 10px;
}

form label {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

form input[type=number] {
    width: 70px;
    border: none;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    text-align: center;
}

input[type=submit] {
    cursor: pointer;
    font-weight: bold;
    background: none;
    border-radius: 5px;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0;
}

form textarea {
    padding: 8px;
    resize: none;
    border-radius: 5px;
    font-size: 1rem;
}

input[type=submit]:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin-top: 0;
}

ul.lobby-controls {
    list-style: none;
    padding: 0;
}

ul.flashes {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}

ul.flashes li {
    background-color: rgb(255, 250, 228);
    width: 100%;
    padding: 16px;
    border-radius: 10px;
}

ul#players {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul#players li.submitted {
    text-decoration: line-through;
    color: #9f8989;
}

ul#players.gallery-playerlist li {
    cursor: pointer;
}

ul#players.gallery-playerlist li::before {
    width: 30px;
    display: inline-block;
    content: " ";
}

ul#players.gallery-playerlist li:hover::before {
    content: "👀 ";
    opacity: 0.3;
}

ul#players.gallery-playerlist li.viewing {
    font-weight: bold;
}

ul#players.gallery-playerlist li.viewing::before {
    content: "👀 ";
    opacity: 1;
}

ul.lobby-controls {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

li.form {
    background-color: #F6E8E8;
    padding: 10px;
    border-radius: 8px;
}

p#prompt, p.prompt {
    padding-left: 10px;
    border-left: 10px solid #eae6e6;
    color: #a81e1e;
}

img#prompt, img.recent {
    width: 100%;
    margin-bottom: 10px;
}

ul#submissions {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul#submissions h3.username {
    font-size: 1rem;
    margin-bottom: 5px;
}

ul#submissions a {
    display: block;
    width: 100%;
    max-height: 400px;
    overflow-y: hidden;
}

ul#submissions img {
    width: 100%;
}

button {
    border: none;
    cursor: pointer;
    background-color: #F6E8E8;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

button:hover {
    text-decoration: underline;
}

span.pretend-button {
    background-color: #F6E8E8;
    font-weight: bold;
    border-radius: 4px;
    padding: 1px 8px;
    white-space: nowrap;
}

div#gallery-controls .after-finish {
    display: none;
}

div#gallery-controls.finished .before-finish {
    display: none;
}

div#gallery-controls.finished .after-finish {
    display: inherit;
}

footer {
    font-size: 0.7rem;
    margin-top: 40px;
    padding-bottom: 40px;
}

footer p {
    font-size: 0.7rem;
    margin: 0;
    margin-bottom: 5px;
    text-align: right;
}

footer, footer * {
    color: rgb(198, 163, 163);
}